.main{
    text-align: center;
    background-color: rgb(0,0,0,0.05);
    align-items: center;
}

.informacion{
    color: black;
    margin: 0px auto;
    min-height: calc(100vh - 80px - 60px);
    background: rgb(0,0,0,0.05);
    text-align: center;
}