<app-navigation></app-navigation>
<div class="container-fluid main">
    <div class="informacion row"><br>
        <div class="col-7"><br><br>
            <h3 class="display-6">Sobre Nosotros</h3>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus, ex a rutrum convallis, nunc dolor semper dolor, et ultrices nulla nibh nec orci. Etiam at massa ut erat gravida dictum vitae non justo. Aliquam ultricies scelerisque sapien sed viverra. Suspendisse rhoncus, ante nec fringilla interdum, sapien enim eleifend felis, vitae placerat diam lorem sollicitudin diam. Nulla sed nisl pellentesque, venenatis sapien in, tincidunt nulla. Phasellus tempus condimentum risus non aliquam. Quisque at dapibus enim, eget ullamcorper metus. Praesent arcu orci, porta id ultrices at, blandit vitae ex.
            </p>
        </div>
        <div class="col-4">
            <contactForm></contactForm>
        </div>
    </div>
</div>
<app-footer></app-footer>