<app-navigation></app-navigation>
<div class="container-fluid dsc-skeleton-content">
    <div>
        <br>
        <img src="https://img.freepik.com/foto-gratis/closeup-imagen-dos-personas-sosteniendo-tomando-cafe-manana_9563-5984.jpg?size=626&ext=jpg" alt="">
        <div id="texto-loremipsum">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum tortor in sapien maximus, quis consectetur diam faucibus. In vitae lobortis orci, rutrum pulvinar nulla. Vivamus aliquet dolor ac varius sagittis. Donec tincidunt congue dui, nec bibendum risus sagittis et. Nunc sit amet dignissim dolor. Fusce tincidunt ornare semper. Sed tempor enim quis orci consectetur, eu aliquet mi luctus. Donec auctor risus non iaculis viverra. Mauris nec ipsum tristique, maximus felis eget, egestas libero. Nunc aliquet quam placerat mi fermentum feugiat.
                Nulla venenatis vulputate purus quis posuere. Aenean faucibus molestie nunc sed lobortis. Integer posuere, leo vel porttitor fermentum, purus libero ultricies sapien, id mattis tellus lacus id risus. Praesent urna felis, rutrum nec tortor et, ultricies dignissim eros. Morbi dapibus ac quam ac tempor. Sed facilisis nisl vitae eros iaculis maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla tellus non blandit commodo. Quisque eu cursus ex. Morbi nec iaculis magna, ac pellentesque purus. Donec pharetra pellentesque felis vel fermentum.
            </p>
        </div>
        <br>
    </div>
    <!--<router-outlet></router-outlet>-->
</div>
<app-footer></app-footer>
