<div class="wrapper fadeInDown">
    <div class="formContent">
        
        <div class="fadeIn first">
            <img src="" alt="Icono-login">
        </div>

        <form action="">
            <input type="text" name="login" id="login" class="fadeIn second" placeholder="usuario">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="contraseña">
            <input type="submit" value="Iniciar Sesión" class="fadeIn fourth">
        </form>

        <div id="formFooter">
            <a href="inicio" class="underlineHover btn">Volver al inicio</a>
            <a href="#" class="underlineHover btn">Olvidaste la contaseña?</a>
        </div>

    </div>
</div>
<app-footer></app-footer>