<div class="form-container"><br><br>
    <h3>Contacto</h3>

    <form id="contacto" [formGroup]="formulario" (ngSubmit)="saveForm()">
        <div class="input-group mb-3">
            <input class="form-control" type="text" formControlName="nombre" placeholder="Tu nombre">
        </div>
        <div class="input-group mb-3">
            <input class="form-control" type="email" formControlName="correo" placeholder="Tu correo">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" formControlName="mensaje" cols="60" rows="10"></textarea>
        </div>
        
        <button class="form-control btn btn-success" type="submit">Enviar</button>
        
    </form>
</div>