<div class="dsc-navigation">
    <div class="d-grid d-flex">
        <a routerLink="/">
            <div class="row">
                <div class="col">
                    <img src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=630/uploads/users/1223/posts/32827/image/Coffee%20Brand%20Logo%20Maker%20with%20Coffee%20Beans%20Line%20Art.jpg" alt="Logo" height="60">
                </div>
                <div class="col">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-outline-warning" routerLink="/">Inicio</a>
        <a class="btn btn-outline-warning" routerLink="/tiendas">Nuestras tiendas</a>
        <a class="btn btn-outline-warning" routerLink="/nosotros">Nosotros</a>
    </div>
    <div>
        <a routerLink="/login" class="btn btn-outline-warning" style="margin-right: 4px;">Iniciar sesión</a>
        <a routerLink="/registro" class="btn btn-outline-warning">Registro</a>
    </div>
</div>